body {
    background-color: green;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    background-color: #333333;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}